*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}